---
import Container from "../components/Container.astro";
import PageTitle from "../components/PageTitle.astro";
import ProjectSummary from "../components/ProjectSummary.astro";
import SiteLayout from "../layouts/main.astro";
import ThumbnailRestaurant from "../images/restaurant-menu.png";
import ThumbnailBilling from "../images/billing-system-customer-invoice.png";
import ThumbnailFertility from "../images/fertility-dashboard.png";
import ThumbnailLms from "../images/lms-dashboard.png";
import ThumbnailPassword from "../images/password-site.png";
import ThumbnailLogin from "../images/login.png";
import ThumbnailShoppingCart from "../images/ecommerce-product.png";
import ThumbnailStatic from "../images/template-home.png";
import ThumbnailTemplate from "../images/tektonik.png";
const meta_description = "A collection of my projects, showcasing my skills and experience as a full-stack web developer. From eCommerce platforms to business automation, explore the work I've done for various clients.";
---

<SiteLayout title="Projects | Jon Bernardi" meta_description={meta_description}>
  <Container>
    <PageTitle>Projects</PageTitle>

    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <ProjectSummary
        slug="restaurant"
        title="Restaurant Online Platform"
        image={ThumbnailRestaurant}

      />
      <ProjectSummary
        slug="billing"
        title="Client Billing System"
        image={ThumbnailBilling}
      />

      <ProjectSummary
        slug="fertility"
        title="IVF Donor / Surrogate Database"
        image={ThumbnailFertility}
      />

      <ProjectSummary
        slug="lms"
        title="Learning Management System"
        image={ThumbnailLms}
      />

      <ProjectSummary
        slug="ecommerce"
        title="eCommerce Platform"
        image={ThumbnailShoppingCart}
      />

      <ProjectSummary
        slug="password"
        title="Website Password Database"
        image={ThumbnailPassword}
      />

      <ProjectSummary
        slug="site-template"
        title="Static Site Template"
        image={ThumbnailStatic}
      />

      <ProjectSummary
        slug="golem-auth"
        title="Golem Auth"
        image={ThumbnailLogin}
        technologies={["PHP", "Symfony", "Zend Framework", "Aura Framework"]}
      />

      <ProjectSummary
        slug="tektonik"
        title="TekTonik"
        image={ThumbnailTemplate}
        technologies={["WordPress", "Plates"]}
      />

    </div>
  </Container>
</SiteLayout>
