---
import { ClientRouter } from "astro:transitions";
import { pwaInfo } from 'virtual:pwa-info';
interface Props {
    title?: string;
    meta_description?: string;
    noindex?: boolean;
    canonical?: string;
    meta_tags?: {name?: string; property?: string; content: string}[];
}
const {title, meta_description, noindex = false, canonical, meta_tags = []} = Astro.props as Props;
---
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title}</title>
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Jonathan Bernardi">
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="shortcut icon" href="/favicon.ico" />
    { pwaInfo && <Fragment set:html={pwaInfo.webManifest.linkTag} /> }
    <link rel="canonical" href={canonical || Astro.url}>
    {meta_description && <meta name="description" content={meta_description}>}
    {noindex ? <meta name="robots" content="noindex, follow"> : <meta name="robots" content="index, follow">}
    <meta property="og:locale" content="en_US">
    <meta property="og:site_name" content="Jon Bernardi">
    {meta_tags && meta_tags.map((tag) => (
            <meta name={tag.name} property={tag.property} content={tag.content} />
    ))}
    <slot name="head" />
    <script is:inline type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "WebSite",
        "url": "https://jonbernardi.com",
        "name": "Jon Bernardi",
        "author": {
            "@context": "Person",
            "name": "Jonathan Bernardi",
            "familyName": "Bernardi",
            "givenName": "Jonathan",
            "jobTitle": "Web Developer",
            "sameAs": [
                "https://www.thedevfiles.com",
                "https://www.linkedin.com/in/jonathan-bernardi-99a31857/",
                "https://github.com/spekkionu"
            ]
        }
    }
    </script>
    <slot name="schema" />
    <script src="../js/pwa.js"></script>
    <ClientRouter />
</head>
