---
import Container from '../../components/Container.astro';
import PageTitle from '../../components/PageTitle.astro';
import SiteLayout from '../../layouts/main.astro'

export function getStaticPaths() {
  return [
    { params: { slug: "project-1", name: 'Project 1' } },
    { params: { slug: "project-2", name: 'Project 2' } },
    { params: { slug: "project-3", name: 'Project 3' } },
    { params: { slug: "project-4", name: 'Project 4' } },
    { params: { slug: "project-5", name: 'Project 5' } },
    { params: { slug: "project-6", name: 'Project 6' } },
    { params: { slug: "project-7", name: 'Project 7' } },
    { params: { slug: "project-8", name: 'Project 8' } },
  ];
}

const { slug } = Astro.params;
const name = "Project 1"
const transition = `title-${slug}`
---

<SiteLayout title={name}>
  <Container>
    <PageTitle transition={transition}>{name}</PageTitle>
    <div transition:name={slug} class="w-[500px] aspect-video bg-red-500"></div>
    <p>Project detail page</p>
    </Container>
</SiteLayout>
