---
import Container from "../../components/Container.astro";
import PageTitle from "../../components/PageTitle.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
import ProjectDetails from "../../components/ProjectDetails.astro";
import SiteLayout from "../../layouts/main.astro";

const slug = "domain-dispatcher";
const title = "Domain Dispatcher";
const transition = {
  title: `project-title-${slug}`,
  image: `project-image-${slug}`,
};
const image = "";
const technologies = [
  "PHP", "League Container"
];
---

<SiteLayout title={title}>
  <Container>
    <PageTitle transition:name={transition.title}>
      {title}
      <BreadCrumbs
        slot="breadcrumbs"
        breadcrumbs={[
          { href: "/projects", text: "Projects" },
          { href: `/projects/${slug}`, text: title },
        ]}
      />
    </PageTitle>

    <ProjectDetails
      slug={slug}
      title={title}
      image={image}
      technologies={technologies}
    >
      <p>
        A simple command bus that uses the League Container dependency injection container to automatically resolve dependencies in the command handler.
      </p>
    </ProjectDetails>
  </Container>
</SiteLayout>
