---
import Container from "../../components/Container.astro";
import PageTitle from "../../components/PageTitle.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
import ProjectDetails from "../../components/ProjectDetails.astro";
import SiteLayout from "../../layouts/main.astro";
import Screenshot from "../../images/ecommerce-product.png";

const slug = "ecommerce";
const title = "eCommerce Platform";
const transition = {
  title: `project-title-${slug}`,
  image: `project-image-${slug}`,
};
const technologies = [
  "Zend Framework",
    "MySQL",
    "Twig",
    "Bootstrap",
    "jQuery",
    "Authorize.net",
    "PayPal",
    "Stripe",
    "UPS API",
    "USPS API",
    "FedEx API",
];
const meta_description = "An eCommerce platform with support for multiple payment gateways, shipping providers, and tax rates.";
---

<SiteLayout title={`${title} | Jon Bernardi`} meta_description={meta_description}>
  <Container>
    <PageTitle transition:name={transition.title}>
      {title}
      <BreadCrumbs
        slot="breadcrumbs"
        breadcrumbs={[
          { href: "/projects/", text: "Projects" },
          { href: `/projects/${slug}/`, text: title },
        ]}
      />
    </PageTitle>

    <ProjectDetails
      slug={slug}
      title={title}
      image={Screenshot}
      technologies={technologies}
    >
      <p>
        An eCommerce platform with support for multiple payment gateways,
        shipping providers, and tax rates.
      </p>
    </ProjectDetails>
  </Container>
</SiteLayout>
