---
import Container from "../../components/Container.astro";
import PageTitle from "../../components/PageTitle.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
import ProjectDetails from "../../components/ProjectDetails.astro";
import SiteLayout from "../../layouts/main.astro";
import Screenshot from "../../images/password-site.png";

const slug = "password";
const title = "Website Pasword Database";
const transition = {
  title: `project-title-${slug}`,
  image: `project-image-${slug}`,
};
const technologies = [
  "Laravel", "Inertia.js", "Svelte", "Tailwind CSS"
];
---

<SiteLayout title={title}>
  <Container>
    <PageTitle transition:name={transition.title}>
      {title}
      <BreadCrumbs
        slot="breadcrumbs"
        breadcrumbs={[
          { href: "/projects", text: "Projects" },
          { href: `/projects/${slug}`, text: title },
        ]}
      />
    </PageTitle>

    <ProjectDetails
      slug={slug}
      title={title}
      image={Screenshot}
      technologies={technologies}
    >
      <p>
        Meant to be installed on a local machine to keep track of login urls, server credentials, and other sensitive information.
      </p>
    </ProjectDetails>
  </Container>
</SiteLayout>
