---
import Container from "../../components/Container.astro";
import PageTitle from "../../components/PageTitle.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
import ProjectDetails from "../../components/ProjectDetails.astro";
import SiteLayout from "../../layouts/main.astro";
import Screenshot from "../../images/template-home.png";

const slug = "site-template";
const title = "Static Site Template";
const transition = {
  title: `project-title-${slug}`,
  image: `project-image-${slug}`,
};
const technologies = [
  "Node.js", "Eleventy", "Tailwind CSS", "Netlify"
];
const meta_description = "A static site template built with Eleventy and Tailwind CSS, designed for quick deployment on Netlify.";
---

<SiteLayout title={`${title} | Jon Bernardi`} meta_description={meta_description}>
  <Container>
    <PageTitle transition:name={transition.title}>
      {title}
      <BreadCrumbs
        slot="breadcrumbs"
        breadcrumbs={[
          { href: "/projects/", text: "Projects" },
          { href: `/projects/${slug}/`, text: title },
        ]}
      />
    </PageTitle>

    <ProjectDetails
      slug={slug}
      title={title}
      image={Screenshot}
      technologies={technologies}
    >
      <p>
        A starter template to make building a static website with eleventy quicker.
      </p>
    </ProjectDetails>
  </Container>
</SiteLayout>
