---
import Container from "../../components/Container.astro";
import PageTitle from "../../components/PageTitle.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
import ProjectDetails from "../../components/ProjectDetails.astro";
import SiteLayout from "../../layouts/main.astro";
import Screenshot from "../../images/tektonik.png";

const slug = "tektonik";
const title = "TekTonik";
const transition = {
  title: `project-title-${slug}`,
  image: `project-image-${slug}`,
};
const technologies = [
  "WordPress", "Plates"
];
---

<SiteLayout title={title}>
  <Container>
    <PageTitle transition:name={transition.title}>
      {title}
      <BreadCrumbs
        slot="breadcrumbs"
        breadcrumbs={[
          { href: "/projects", text: "Projects" },
          { href: `/projects/${slug}`, text: title },
        ]}
      />
    </PageTitle>

    <ProjectDetails
      slug={slug}
      title={title}
      image={Screenshot}
      technologies={technologies}
    >
      <p>
        A php-based templating engine for WordPress based on the league/plates library.
      </p>
    </ProjectDetails>
  </Container>
</SiteLayout>
