---
import Container from "../../components/Container.astro";
import PageTitle from "../../components/PageTitle.astro";
import BreadCrumbs from "../../components/BreadCrumbs.astro";
import ProjectDetails from "../../components/ProjectDetails.astro";
import SiteLayout from "../../layouts/main.astro";

const slug = "uptime";
const title = "Site Monitoring";
const transition = {
  title: `project-title-${slug}`,
  image: `project-image-${slug}`,
};
const image = "";
const technologies = [
  "Laravel",
"MySQL",
"Vue.js",
"Bootstrap",
"Lighthouse",
"Pagespeed API",
];
---

<SiteLayout title={title}>
  <Container>
    <PageTitle transition:name={transition.title}>
      {title}
      <BreadCrumbs
        slot="breadcrumbs"
        breadcrumbs={[
          { href: "/projects", text: "Projects" },
          { href: `/projects/${slug}`, text: title },
        ]}
      />
    </PageTitle>

    <ProjectDetails
      slug={slug}
      title={title}
      image={image}
      technologies={technologies}
    >
      <p>
        Monitors websites for uptime and performance. Sends alerts when a site is down.  Also monitors when a SSL certificate is about to expire.
      </p>
    </ProjectDetails>
  </Container>
</SiteLayout>
